<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link id="main-css" rel="stylesheet" href="../stylesheets/main.css" />
  </head>
  <body>
    <br />

    <div class="form-row">
      <div class="form-item">Title: <%= post.title %></div>
      <div class="form-item">Author name: <%= post.author.name %></div>
    </div>
    <div class="form-row">
      <div class="form-item">
        Publish date: <%=post.publishDate.toISOString().split('T')[0] %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-item">
        <img src="<%= post.postImagePath %>" height="400" width="600" />
      </div>
      <div class="form-item">Description: <%= post.description %></div>
    </div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/posts/<%= post.id %>/edit">
        Edit
      </a>
      <a class="btn btn-primary" href="/authors/<%= post.author.id %>"
        >show author
      </a>
      <%- include('../partials/deleteForm', {url: `/posts/${post.id}`}) %>
    </div>
  </body>
</html>
